In [2]:
import pandas as pd

In [1]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = 

    # convert the Start Time column to datetime
    df['Start Time'] = 

    # extract month and day of week from Start Time to create new columns
    df['month'] = 
    df['day_of_week'] = 


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = 
    
        # filter by month to create the new dataframe
        df = 

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = 
    
    return df
    
df = load_data('chicago', 'march', 'friday')

SyntaxError: invalid syntax (<ipython-input-1-2cc1496e6693>, line 20)

display heads n times

In [ ]:
while (True):
    display = raw_input('\nWould you like to view individual trip data?'
                    'Type \'yes\' or \'no\'.\n')
    if display == ('no'):
        break
    elif display != ('yes'):
        print ('incorrect input')

In [ ]:
  # load data file into a dataframe
df = pd. read_csv('chicago.csv')

# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

# extract month and day of week from Start Time to create new columns
df['month'] = df['Start Time'].dt.month

df['day_of_week'] = df['Start Time'].dt.days



#     # filter by month if applicable
#     if month != 'all':
#         # use the index of the months list to get the corresponding int
#         months = ['january', 'february', 'march', 'april', 'may', 'june']
#         month = 
    
#         # filter by month to create the new dataframe
#         df = 

#     # filter by day of week if applicable
#     if day != 'all':
#         # filter by day of week to create the new dataframe
#         df =

In [78]:
import pandas as pd
df = pd. read_csv('chicago.csv')

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [5]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [6]:
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,2017-01-01 00:00:00,2017-01-01 00:04:00,221.834,3rd & Tingey St SE,M St & New Jersey Ave SE,Subscriber
1,2017-01-01 00:06:00,2017-01-01 00:34:00,1676.854,Lincoln Memorial,8th & D St NW,Customer
2,2017-01-01 00:07:00,2017-01-01 00:34:00,1636.768,Lincoln Memorial,8th & D St NW,Customer
3,2017-01-01 00:07:00,2017-01-01 00:29:00,1327.901,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer
4,2017-01-01 00:07:00,2017-01-01 00:29:00,1356.956,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer
5,2017-01-01 00:08:00,2017-01-01 00:16:00,473.337,13th & H St NE,3rd & H St NE,Subscriber
6,2017-01-01 00:08:00,2017-01-01 00:34:00,1603.358,Lincoln Memorial,8th & D St NW,Customer
7,2017-01-01 00:11:00,2017-01-01 00:14:00,200.077,Adams Mill & Columbia Rd NW,Calvert St & Woodley Pl NW,Subscriber
8,2017-01-01 00:13:00,2017-01-01 00:25:00,748.899,Prince St & Union St,Saint Asaph & Madison St,Subscriber
9,2017-01-01 00:14:00,2017-01-01 00:29:00,912.960,14th & R St NW,Eckington Pl & Q St NE,Subscriber
10,2017-01-01 00:16:00,2017-01-01 00:50:00,2062.467,Prince St & Union St,Saint Asaph St & Pendleton St,Customer
11,2017-01-01 00:16:00,2017-01-01 00:22:00,383.416,Market Square / King St & Royal St,King St Metro South,Subscriber
12,2017-01-01 00:16:00,2017-01-01 00:50:00,2017.185,Prince St & Union St,Saint Asaph St & Pendleton St,Customer
13,2017-01-01 00:16:00,2017-01-01 00:26:00,600.116,Prince St & Union St,King St Metro South,Subscriber
14,2017-01-01 00:17:00,2017-01-01 00:23:00,404.401,3rd & H St NE,5th St & Massachusetts Ave NW,Subscriber
15,2017-01-01 00:18:00,2017-01-01 00:22:00,195.997,12th & U St NW,7th & T St NW,Subscriber
16,2017-01-01 00:18:00,2017-01-01 00:34:00,981.681,Lamont & Mt Pleasant NW,20th St & Florida Ave NW,Subscriber
17,2017-01-01 00:18:00,2017-01-01 00:31:00,750.576,17th & G St NW,15th & P St NW,Subscriber
18,2017-01-01 00:21:00,2017-01-01 00:25:00,244.163,14th & V St NW,15th & Euclid St NW,Subscriber
19,2017-01-01 00:22:00,2017-01-01 00:26:00,280.239,Court House Metro / 15th & N Uhle St,Arlington Blvd & N Queen St,Customer
20,2017-01-01 00:23:00,2017-01-01 00:32:00,555.059,New Hampshire Ave & T St NW,11th & O St NW,Subscriber
21,2017-01-01 00:23:00,2017-01-01 00:32:00,543.776,New Hampshire Ave & T St NW,11th & O St NW,Subscriber
22,2017-01-01 00:24:00,2017-01-01 00:32:00,483.888,5th St & Massachusetts Ave NW,17th & K St NW,Subscriber
23,2017-01-01 00:25:00,2017-01-01 00:57:00,1903.953,Lincoln Memorial,8th & O St NW,Customer
24,2017-01-01 00:25:00,2017-01-01 00:29:00,228.273,15th & K St NW,14th & Rhode Island Ave NW,Subscriber
25,2017-01-01 00:25:00,2017-01-01 10:41:00,36943.984,Lincoln Memorial,11th & O St NW,Customer
26,2017-01-01 00:25:00,2017-01-01 00:28:00,216.569,Ballston Metro / N Stuart & 9th St N,N Quincy St & Glebe Rd,Subscriber
27,2017-01-01 00:26:00,2017-01-01 00:37:00,653.869,11th & M St NW,14th & R St NW,Subscriber
28,2017-01-01 00:28:00,2017-01-01 00:34:00,414.133,1st & Rhode Island Ave NW,1st & H St NW,Subscriber
29,2017-01-01 00:28:00,2017-01-01 00:35:00,427.363,1st & O St NW,Florida Ave & R St NW,Customer
...,...,...,...,...,...,...
1751422,2017-06-30 12:57:46,2017-06-30 01:12:40,894.163,22nd & P ST NW,Lynn & 19th St North,Subscriber
1751423,2017-06-30 12:57:47,2017-06-30 01:06:59,551.346,8th & F St NW,Columbus Circle / Union Station,Subscriber
1751424,2017-06-30 12:57:51,2017-06-30 01:14:32,1001.837,15th & East Capitol St NE,M St & Delaware Ave NE,Customer
1751425,2017-06-30 12:57:56,2017-06-30 01:11:20,803.568,Van Ness Metro / UDC,Calvert St & Woodley Pl NW,Subscriber
1751426,2017-06-30 12:58:03,2017-06-30 01:00:51,167.469,1st & D St SE,1st & K St SE,Subscriber
1751427,2017-06-30 12:58:12,2017-06-30 01:21:42,1410.348,Jefferson Memorial,Lincoln Park / 13th & East Capitol St NE,Subscriber
1751428,2017-06-30 12:58:23,2017-06-30 01:15:41,1037.573,16th & Harvard St NW,11th & F St NW,Subscriber
1751429,2017-06-30 12:58:28,2017-06-30 01:31:56,2008.129,13th & H St NE,Washington & Independence Ave SW/HHS,Subscriber
1751430,2017-06-30 12:58:33,2017-06-30 01:06:42,488.372,Eckington Pl & Q St NE,1st & M St NE,Customer
1751431,2017-06-30 12:58:35,2017-06-30 01:05:32,417.253,15th & K St NW,8th & H St NW,Subscriber
1751432,2017-06-30 12:58:36,2017-06-30 01:32:00,2003.880,13th & H St NE,Washington & Independence Ave SW/HHS,Subscriber
1751433,2017-06-30 12:58:48,2017-06-30 01:08:40,592.158,10th & K St NW,1st & Rhode Island Ave NW,Subscriber
1751434,2017-06-30 12:58:52,2017-06-30 01:01:57,184.853,15th & M St NW,15th & P St NW,Subscriber
1751435,2017-06-30 12:58:53,2017-06-30 01:13:52,898.842,8th & D St NW,US Dept of State / Virginia Ave & 21st St NW,Customer
1751436,2017-06-30 12:58:56,2017-06-30 01:25:05,1568.491,10th St & L'Enfant Plaza SW,17th & Corcoran St NW,Customer
1751437,2017-06-30 12:58:56,2017-06-30 01:06:44,467.822,Union Market/6th St & Neal Pl NE,13th & H St NE,Customer
1751438,2017-06-30 12:58:57,2017-06-30 01:02:01,183.831,19th & East Capitol St SE,15th & East Capitol St NE,Subscriber
1751439,2017-06-30 12:59:03,2017-06-30 01:16:34,1050.619,15th & Euclid St NW,Convention Center / 7th & M St NW,Subscriber
1751440,2017-06-30 12:59:04,2017-06-30 01:07:17,493.881,20th & O St NW / Dupont South,16th & R St NW,Subscriber
1751441,2017-06-30 12:59:15,2017-06-30 02:06:33,4038.084,Independence Ave & L'Enfant Plaza SW/DOE,Independence Ave & L'Enfant Plaza SW/DOE,Customer
1751442,2017-06-30 12:59:18,2017-06-30 02:06:25,4026.996,Independence Ave & L'Enfant Plaza SW/DOE,Independence Ave & L'Enfant Plaza SW/DOE,Customer
1751443,2017-06-30 12:59:23,2017-06-30 03:47:09,10066.046,Smithsonian-National Mall / Jefferson Dr & 12t...,4th & C St SW,Customer
1751444,2017-06-30 12:59:28,2017-06-30 01:06:40,432.174,17th & K St NW,New York Ave & 15th St NW,Subscriber
1751445,2017-06-30 12:59:36,2017-06-30 03:46:59,10042.689,Smithsonian-National Mall / Jefferson Dr & 12t...,4th & C St SW,Customer
1751446,2017-06-30 12:59:36,2017-06-30 01:22:31,1374.646,7th & T St NW,39th & Calvert St NW / Stoddert,Subscriber
1751447,2017-06-30 12:59:39,2017-06-30 01:13:07,808.195,18th & M St NW,15th & W St NW,Subscriber
1751448,2017-06-30 12:59:46,2017-06-30 01:05:20,334.003,12th & Army Navy Dr,23rd & Crystal Dr,Customer
1751449,2017-06-30 12:59:48,2017-06-30 01:17:06,1037.764,Jefferson Memorial,C & O Canal & Wisconsin Ave NW,Customer
1751450,2017-06-30 12:59:57,2017-06-30 01:10:54,657.231,C & O Canal & Wisconsin Ave NW,18th St & Pennsylvania Ave NW,Subscriber
1751451,2017-06-30 12:59:59,2017-06-30 01:43:26,2606.951,Friendship Hts Metro/Wisconsin Ave & Wisconsin...,Kennedy Center,Customer

In [6]:
df['month'] = df['Start Time'].dt.month

df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,1
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,1
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,1
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,1
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,1
5,2017-01-01 00:10:44,2017-01-01 00:21:27,643,State St & Kinzie St,Wells St & Polk St,Subscriber,Male,1970.0,1
6,2017-01-01 00:11:34,2017-01-01 00:23:47,733,Wabash Ave & Wacker Pl,Clinton St & Tilden St,Subscriber,Male,1986.0,1
7,2017-01-01 00:14:57,2017-01-01 00:26:22,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,1
8,2017-01-01 00:15:03,2017-01-01 00:26:28,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,1
9,2017-01-01 00:17:01,2017-01-01 00:29:49,768,Dayton St & North Ave,Ogden Ave & Chicago Ave,Customer,NaN,NaN,1
10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0,1
11,2017-01-01 00:18:28,2017-01-01 00:31:05,757,Canal St & Madison St,LaSalle St & Illinois St,Customer,NaN,NaN,1
12,2017-01-01 00:18:50,2017-01-01 00:21:47,177,Theater on the Lake,Lakeview Ave & Fullerton Pkwy,Subscriber,Male,1991.0,1
13,2017-01-01 00:23:41,2017-01-01 00:29:13,332,Halsted St & Maxwell St,Halsted St & 18th St,Subscriber,Male,1984.0,1
14,2017-01-01 00:25:47,2017-01-01 00:39:53,846,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Female,1987.0,1
15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0,1
16,2017-01-01 00:26:21,2017-01-01 00:39:40,799,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Male,1987.0,1
17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0,1
18,2017-01-01 00:27:28,2017-01-01 00:42:44,916,Millennium Park,Michigan Ave & 18th St,Subscriber,Female,1990.0,1
19,2017-01-01 00:27:45,2017-01-01 00:31:13,208,Damen Ave & Chicago Ave,Damen Ave & Division St,Subscriber,Male,1982.0,1
20,2017-01-01 00:27:52,2017-01-01 00:33:46,354,Paulina Ave & North Ave,Damen Ave & Division St,Subscriber,Female,1982.0,1
21,2017-01-01 00:30:07,2017-01-01 00:34:32,265,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Customer,NaN,NaN,1
22,2017-01-01 00:30:10,2017-01-01 01:10:34,2424,Lake Shore Dr & Ohio St,Broadway & Barry Ave,Subscriber,Female,1985.0,1
23,2017-01-01 00:32:58,2017-01-01 00:41:59,541,LaSalle St & Illinois St,State St & Kinzie St,Customer,NaN,NaN,1
24,2017-01-01 00:33:39,2017-01-01 00:41:09,450,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,Subscriber,Female,1979.0,1
25,2017-01-01 00:34:23,2017-01-01 00:40:56,393,Greenview Ave & Jarvis Ave,Eastlake Ter & Rogers Ave,Subscriber,Male,1961.0,1
26,2017-01-01 00:35:23,2017-01-01 01:05:22,1799,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,1
27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0,1
28,2017-01-01 00:35:32,2017-01-01 00:48:07,755,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Female,1989.0,1
29,2017-01-01 00:35:34,2017-01-01 01:05:26,1792,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...
1551475,2017-06-30 23:52:33,2017-07-01 00:08:19,946,Lincoln Ave & Fullerton Ave,Sheffield Ave & Waveland Ave,Subscriber,Female,1993.0,6
1551476,2017-06-30 23:52:40,2017-07-01 00:22:13,1773,Cuyler Ave & Augusta St,Central Park Ave & North Ave,Customer,NaN,NaN,6
1551477,2017-06-30 23:52:40,2017-07-01 00:13:41,1261,Halsted St & Roscoe St,Milwaukee Ave & Grand Ave,Subscriber,Male,1970.0,6
1551478,2017-06-30 23:52:43,2017-07-01 00:05:44,781,Halsted St & Roscoe St,Halsted St & Willow St,Subscriber,Male,1981.0,6
1551479,2017-06-30 23:52:54,2017-07-01 00:22:33,1779,Cuyler Ave & Augusta St,Central Park Ave & North Ave,Customer,NaN,NaN,6
1551480,2017-06-30 23:53:05,2017-07-01 00:12:52,1187,Ellis Ave & 55th St,Cottage Grove Ave & 47th St,Subscriber,Male,1987.0,6
1551481,2017-06-30 23:53:15,2017-07-01 00:04:46,691,Clark St & Wrightwood Ave,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1991.0,6
1551482,2017-06-30 23:53:16,2017-07-01 00:02:53,577,Wells St & Concord Ln,Theater on the Lake,Subscriber,Male,1986.0,6
1551483,2017-06-30 23:52:56,2017-07-01 00:04:04,668,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0,6
1551484,2017-06-30 23:52:56,2017-07-01 00:03:48,652,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1991.0,6
1551485,2017-06-30 23:54:02,2017-07-01 00:17:47,1425,Halsted St & Dickens Ave,Pine Grove Ave & Irving Park Rd,Subscriber,Male,1953.0,6
1551486,2017-06-30 23:54:12,2017-07-01 00:02:08,476,Eckhart Park,Damen Ave & Division St,Subscriber,Male,1992.0,6
1551487,2017-06-30 23:54:36,2017-07-01 00:18:03,1407,Franklin St & Monroe St,Clinton St & Roosevelt Rd,Subscriber,Male,1984.0,6
1551488,2017-06-30 23:55:06,2017-06-30 23:58:54,228,Clifton Ave & Lawrence Ave,Clarendon Ave & Leland Ave,Subscriber,Male,1963.0,6
1551489,2017-06-30 23:55:13,2017-07-01 00:19:27,1454,Halsted St & Willow St,Wood St & Milwaukee Ave,Subscriber,Male,1990.0,6
1551490,2017-06-30 23:55:18,2017-07-01 00:12:25,1027,Halsted St & Roscoe St,Bissell St & Armitage Ave,Subscriber,Male,1991.0,6
1551491,2017-06-30 23:55:33,2017-06-30 23:59:50,257,Sedgwick St & North Ave,Clark St & Armitage Ave,Subscriber,Male,1969.0,6
1551492,2017-06-30 23:55:48,2017-07-01 00:16:04,1216,Cityfront Plaza Dr & Pioneer Ct,Ashland Ave & Augusta Blvd,Subscriber,Female,1986.0,6
1551493,2017-06-30 23:55:57,2017-07-01 00:09:16,799,Wabash Ave & 16th St,900 W Harrison St,Subscriber,Male,1985.0,6
1551494,2017-06-30 23:55:58,2017-07-01 01:17:24,4886,Dusable Harbor,Streeter Dr & Grand Ave,Customer,NaN,NaN,6
1551495,2017-06-30 23:56:20,2017-07-01 01:16:50,4830,Dusable Harbor,Streeter Dr & Grand Ave,Customer,NaN,NaN,6
1551496,2017-06-30 23:56:48,2017-07-01 00:00:07,199,Hermitage Ave & Polk St,Loomis St & Lexington St,Subscriber,Male,1988.0,6
1551497,2017-06-30 23:58:13,2017-07-01 00:24:22,1569,Southport Ave & Clybourn Ave,Spaulding Ave & Armitage Ave,Subscriber,Female,1989.0,6
1551498,2017-06-30 23:58:19,2017-07-01 00:03:41,322,Lakeview Ave & Fullerton Pkwy,Lincoln Ave & Fullerton Ave,Subscriber,Male,1992.0,6
1551499,2017-06-30 23:58:21,2017-07-01 00:04:24,363,Lakeview Ave & Fullerton Pkwy,Lake Shore Dr & Wellington Ave,Subscriber,Male,1990.0,6
1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0,6
1551501,2017-06-30 23:59:14,2017-07-01 00:06:21,427,Canal St & Adams St,LaSalle St & Adams St,Subscriber,Male,1980.0,6
1551502,2017-06-30 23:59:18,2017-07-01 00:04:58,340,Sheffield Ave & Webster Ave,Sheffield Ave & Webster Ave,Subscriber,Female,1996.0,6
1551503,2017-06-30 23:59:28,2017-07-01 00:07:10,462,Clark St & Grace St,Clark St & Montrose Ave,Subscriber,Female,1968.0,6
1551504,2017-06-30 23:59:51,2017-07-01 00:13:57,846,Desplaines St & Jackson Blvd,Desplaines St & Kinzie St,Subscriber,Male,1975.0,6

In [12]:
mapping = {1:'january', 2:'february', 3:'march', 4:'april', 5:'may', 6:'june'}
df.applymap(lambda s: mapping.get(s) if s in mapping else s)

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,january,june
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,january,june
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,january,june
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,january,june
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,january,june
5,2017-01-01 00:10:44,2017-01-01 00:21:27,643,State St & Kinzie St,Wells St & Polk St,Subscriber,Male,1970.0,january,june
6,2017-01-01 00:11:34,2017-01-01 00:23:47,733,Wabash Ave & Wacker Pl,Clinton St & Tilden St,Subscriber,Male,1986.0,january,june
7,2017-01-01 00:14:57,2017-01-01 00:26:22,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,january,june
8,2017-01-01 00:15:03,2017-01-01 00:26:28,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,january,june
9,2017-01-01 00:17:01,2017-01-01 00:29:49,768,Dayton St & North Ave,Ogden Ave & Chicago Ave,Customer,NaN,NaN,january,june
10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0,january,june
11,2017-01-01 00:18:28,2017-01-01 00:31:05,757,Canal St & Madison St,LaSalle St & Illinois St,Customer,NaN,NaN,january,june
12,2017-01-01 00:18:50,2017-01-01 00:21:47,177,Theater on the Lake,Lakeview Ave & Fullerton Pkwy,Subscriber,Male,1991.0,january,june
13,2017-01-01 00:23:41,2017-01-01 00:29:13,332,Halsted St & Maxwell St,Halsted St & 18th St,Subscriber,Male,1984.0,january,june
14,2017-01-01 00:25:47,2017-01-01 00:39:53,846,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Female,1987.0,january,june
15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0,january,june
16,2017-01-01 00:26:21,2017-01-01 00:39:40,799,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Male,1987.0,january,june
17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0,january,june
18,2017-01-01 00:27:28,2017-01-01 00:42:44,916,Millennium Park,Michigan Ave & 18th St,Subscriber,Female,1990.0,january,june
19,2017-01-01 00:27:45,2017-01-01 00:31:13,208,Damen Ave & Chicago Ave,Damen Ave & Division St,Subscriber,Male,1982.0,january,june
20,2017-01-01 00:27:52,2017-01-01 00:33:46,354,Paulina Ave & North Ave,Damen Ave & Division St,Subscriber,Female,1982.0,january,june
21,2017-01-01 00:30:07,2017-01-01 00:34:32,265,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Customer,NaN,NaN,january,june
22,2017-01-01 00:30:10,2017-01-01 01:10:34,2424,Lake Shore Dr & Ohio St,Broadway & Barry Ave,Subscriber,Female,1985.0,january,june
23,2017-01-01 00:32:58,2017-01-01 00:41:59,541,LaSalle St & Illinois St,State St & Kinzie St,Customer,NaN,NaN,january,june
24,2017-01-01 00:33:39,2017-01-01 00:41:09,450,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,Subscriber,Female,1979.0,january,june
25,2017-01-01 00:34:23,2017-01-01 00:40:56,393,Greenview Ave & Jarvis Ave,Eastlake Ter & Rogers Ave,Subscriber,Male,1961.0,january,june
26,2017-01-01 00:35:23,2017-01-01 01:05:22,1799,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,january,june
27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0,january,june
28,2017-01-01 00:35:32,2017-01-01 00:48:07,755,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Female,1989.0,january,june
29,2017-01-01 00:35:34,2017-01-01 01:05:26,1792,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,january,june
...,...,...,...,...,...,...,...,...,...,...
1551475,2017-06-30 23:52:33,2017-07-01 00:08:19,946,Lincoln Ave & Fullerton Ave,Sheffield Ave & Waveland Ave,Subscriber,Female,1993.0,june,april
1551476,2017-06-30 23:52:40,2017-07-01 00:22:13,1773,Cuyler Ave & Augusta St,Central Park Ave & North Ave,Customer,NaN,NaN,june,april
1551477,2017-06-30 23:52:40,2017-07-01 00:13:41,1261,Halsted St & Roscoe St,Milwaukee Ave & Grand Ave,Subscriber,Male,1970.0,june,april
1551478,2017-06-30 23:52:43,2017-07-01 00:05:44,781,Halsted St & Roscoe St,Halsted St & Willow St,Subscriber,Male,1981.0,june,april
1551479,2017-06-30 23:52:54,2017-07-01 00:22:33,1779,Cuyler Ave & Augusta St,Central Park Ave & North Ave,Customer,NaN,NaN,june,april
1551480,2017-06-30 23:53:05,2017-07-01 00:12:52,1187,Ellis Ave & 55th St,Cottage Grove Ave & 47th St,Subscriber,Male,1987.0,june,april
1551481,2017-06-30 23:53:15,2017-07-01 00:04:46,691,Clark St & Wrightwood Ave,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1991.0,june,april
1551482,2017-06-30 23:53:16,2017-07-01 00:02:53,577,Wells St & Concord Ln,Theater on the Lake,Subscriber,Male,1986.0,june,april
1551483,2017-06-30 23:52:56,2017-07-01 00:04:04,668,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0,june,april
1551484,2017-06-30 23:52:56,2017-07-01 00:03:48,652,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1991.0,june,april
1551485,2017-06-30 23:54:02,2017-07-01 00:17:47,1425,Halsted St & Dickens Ave,Pine Grove Ave & Irving Park Rd,Subscriber,Male,1953.0,june,april
1551486,2017-06-30 23:54:12,2017-07-01 00:02:08,476,Eckhart Park,Damen Ave & Division St,Subscriber,Male,1992.0,june,april
1551487,2017-06-30 23:54:36,2017-07-01 00:18:03,1407,Franklin St & Monroe St,Clinton St & Roosevelt Rd,Subscriber,Male,1984.0,june,april
1551488,2017-06-30 23:55:06,2017-06-30 23:58:54,228,Clifton Ave & Lawrence Ave,Clarendon Ave & Leland Ave,Subscriber,Male,1963.0,june,april
1551489,2017-06-30 23:55:13,2017-07-01 00:19:27,1454,Halsted St & Willow St,Wood St & Milwaukee Ave,Subscriber,Male,1990.0,june,april
1551490,2017-06-30 23:55:18,2017-07-01 00:12:25,1027,Halsted St & Roscoe St,Bissell St & Armitage Ave,Subscriber,Male,1991.0,june,april
1551491,2017-06-30 23:55:33,2017-06-30 23:59:50,257,Sedgwick St & North Ave,Clark St & Armitage Ave,Subscriber,Male,1969.0,june,april
1551492,2017-06-30 23:55:48,2017-07-01 00:16:04,1216,Cityfront Plaza Dr & Pioneer Ct,Ashland Ave & Augusta Blvd,Subscriber,Female,1986.0,june,april
1551493,2017-06-30 23:55:57,2017-07-01 00:09:16,799,Wabash Ave & 16th St,900 W Harrison St,Subscriber,Male,1985.0,june,april
1551494,2017-06-30 23:55:58,2017-07-01 01:17:24,4886,Dusable Harbor,Streeter Dr & Grand Ave,Customer,NaN,NaN,june,april
1551495,2017-06-30 23:56:20,2017-07-01 01:16:50,4830,Dusable Harbor,Streeter Dr & Grand Ave,Customer,NaN,NaN,june,april
1551496,2017-06-30 23:56:48,2017-07-01 00:00:07,199,Hermitage Ave & Polk St,Loomis St & Lexington St,Subscriber,Male,1988.0,june,april
1551497,2017-06-30 23:58:13,2017-07-01 00:24:22,1569,Southport Ave & Clybourn Ave,Spaulding Ave & Armitage Ave,Subscriber,Female,1989.0,june,april
1551498,2017-06-30 23:58:19,2017-07-01 00:03:41,322,Lakeview Ave & Fullerton Pkwy,Lincoln Ave & Fullerton Ave,Subscriber,Male,1992.0,june,april
1551499,2017-06-30 23:58:21,2017-07-01 00:04:24,363,Lakeview Ave & Fullerton Pkwy,Lake Shore Dr & Wellington Ave,Subscriber,Male,1990.0,june,april
1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0,june,april
1551501,2017-06-30 23:59:14,2017-07-01 00:06:21,427,Canal St & Adams St,LaSalle St & Adams St,Subscriber,Male,1980.0,june,april
1551502,2017-06-30 23:59:18,2017-07-01 00:04:58,340,Sheffield Ave & Webster Ave,Sheffield Ave & Webster Ave,Subscriber,Female,1996.0,june,april
1551503,2017-06-30 23:59:28,2017-07-01 00:07:10,462,Clark St & Grace St,Clark St & Montrose Ave,Subscriber,Female,1968.0,june,april
1551504,2017-06-30 23:59:51,2017-07-01 00:13:57,846,Desplaines St & Jackson Blvd,Desplaines St & Kinzie St,Subscriber,Male,1975.0,june,april

In [43]:
df1 = df.applymap(lambda s: mapping.get(s) if s in mapping else s)

In [77]:
df1.head()

NameError: name 'df1' is not defined

In [51]:
df1[df1['month'] == 'may']

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
700353,2017-05-01 00:02:39,2017-05-01 00:24:26,1307,Wilton Ave & Diversey Pkwy,Drake Ave & Addison St,Subscriber,Male,1980.0,may,0
700354,2017-05-01 00:02:58,2017-05-01 00:07:13,255,900 W Harrison St,May St & Taylor St,Subscriber,Male,1997.0,may,0
700355,2017-05-01 00:21:16,2017-05-01 00:32:49,693,Canal St & Taylor St,Paulina St & 18th St,Subscriber,Female,1982.0,may,0
700356,2017-05-01 00:25:25,2017-05-01 00:32:34,429,Wabash Ave & 16th St,Clinton St & 18th St,Subscriber,Male,1972.0,may,0
700357,2017-05-01 00:27:26,2017-05-01 00:44:21,1015,Broadway & Argyle St,Campbell Ave & Montrose Ave,Subscriber,Male,1986.0,may,0
700358,2017-05-01 00:40:31,2017-05-01 00:49:56,565,State St & 33rd St,MLK Jr Dr & 29th St,Subscriber,Male,1993.0,may,0
700359,2017-05-01 00:41:07,2017-05-01 00:49:49,522,State St & 33rd St,MLK Jr Dr & 29th St,Subscriber,Female,1992.0,may,0
700360,2017-05-01 00:50:28,2017-05-01 00:56:12,344,Damen Ave & Pierce Ave,Ashland Ave & Blackhawk St,Subscriber,Male,1990.0,may,0
700361,2017-05-01 00:50:36,2017-05-01 00:56:49,373,Damen Ave & Pierce Ave,Ashland Ave & Blackhawk St,Subscriber,Male,1990.0,may,0
700362,2017-05-01 01:39:47,2017-05-01 01:43:08,201,State St & Randolph St,Stetson Ave & South Water St,Subscriber,Male,1954.0,may,0
700363,2017-05-01 01:41:00,2017-05-01 01:46:17,317,State St & Kinzie St,Rush St & Cedar St,Subscriber,Male,1986.0,may,0
700364,2017-05-01 01:43:16,2017-05-01 01:49:35,379,Damen Ave & Division St,Western Ave & Walton St,Subscriber,Male,1987.0,may,0
700365,2017-05-01 01:51:43,2017-05-01 01:53:33,110,Sheffield Ave & Fullerton Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Male,1994.0,may,0
700366,2017-05-01 01:52:13,2017-05-01 02:17:38,1525,Lake Park Ave & 47th St,Shore Dr & 55th St,Subscriber,Male,1966.0,may,0
700367,2017-05-01 02:11:44,2017-05-01 02:21:58,614,Halsted St & Maxwell St,Peoria St & Jackson Blvd,Subscriber,Male,1996.0,may,0
700368,2017-05-01 02:26:27,2017-05-01 02:29:56,209,University Library (NU),Chicago Ave & Sheridan Rd,Subscriber,Male,1998.0,may,0
700369,2017-05-01 02:27:37,2017-05-01 02:38:21,644,Shore Dr & 55th St,Lake Park Ave & 47th St,Subscriber,Male,1966.0,may,0
700370,2017-05-01 02:29:12,2017-05-01 02:48:56,1184,Lincoln Ave & Addison St,Clark St & Bryn Mawr Ave,Subscriber,Male,1992.0,may,0
700371,2017-05-01 02:38:50,2017-05-01 02:43:44,294,Lake Park Ave & 47th St,Greenwood Ave & 47th St,Subscriber,Male,1966.0,may,0
700372,2017-05-01 02:46:35,2017-05-01 02:51:39,304,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Subscriber,Male,1977.0,may,0
700373,2017-05-01 02:48:24,2017-05-01 02:54:33,369,Morgan St & Polk St,Jefferson St & Monroe St,Subscriber,Male,1997.0,may,0
700374,2017-05-01 02:52:36,2017-05-01 03:03:26,650,St. Clair St & Erie St,Larrabee St & Division St,Subscriber,Male,1990.0,may,0
700375,2017-05-01 02:54:18,2017-05-01 03:03:33,555,St. Clair St & Erie St,Larrabee St & Division St,Subscriber,Male,1987.0,may,0
700376,2017-05-01 03:01:14,2017-05-01 03:15:15,841,Clark St & Bryn Mawr Ave,Greenview Ave & Jarvis Ave,Subscriber,Male,1992.0,may,0
700377,2017-05-01 03:13:32,2017-05-01 03:20:32,420,Green St & Madison St,Daley Center Plaza,Subscriber,Male,1968.0,may,0
700378,2017-05-01 03:26:12,2017-05-01 03:52:09,1557,Lake Shore Dr & Wellington Ave,Wacker Dr & Washington St,Subscriber,Male,1993.0,may,0
700379,2017-05-01 03:28:15,2017-05-01 03:34:35,380,Wabash Ave & 8th St,Canal St & Harrison St,Subscriber,Male,1940.0,may,0
700380,2017-05-01 03:28:37,2017-05-01 04:03:19,2082,Keystone Ave & Montrose Ave,Claremont Ave & Hirsch St,Subscriber,Male,1979.0,may,0
700381,2017-05-01 04:09:38,2017-05-01 04:11:53,135,Dearborn St & Monroe St,LaSalle St & Jackson Blvd,Subscriber,Male,1957.0,may,0
700382,2017-05-01 04:11:37,2017-05-01 04:22:18,641,McClurg Ct & Illinois St,LaSalle St & Jackson Blvd,Subscriber,Male,1971.0,may,0
...,...,...,...,...,...,...,...,...,...,...
1046311,2017-05-31 23:44:25,2017-06-01 00:48:45,3860,Buckingham Fountain,Buckingham Fountain,Customer,NaN,NaN,may,february
1046312,2017-05-31 23:45:47,2017-06-01 00:08:01,1334,Dearborn St & Erie St,Broadway & Barry Ave,Subscriber,Male,1984.0,may,february
1046313,2017-05-31 23:46:00,2017-05-31 23:57:01,661,Canal St & Madison St,Kingsbury St & Erie St,Subscriber,Male,1970.0,may,february
1046314,2017-05-31 23:46:04,2017-05-31 23:58:35,751,Dearborn St & Erie St,Clinton St & Madison St,Subscriber,Female,1992.0,may,february
1046315,2017-05-31 23:46:04,2017-05-31 23:52:02,358,Halsted St & Wrightwood Ave,Greenview Ave & Diversey Pkwy,Subscriber,Male,1990.0,may,february
1046316,2017-05-31 23:46:09,2017-06-01 00:48:01,3712,Buckingham Fountain,Buckingham Fountain,Customer,NaN,NaN,may,february
1046317,2017-05-31 23:46:31,2017-06-01 00:48:01,3690,Buckingham Fountain,Buckingham Fountain,Customer,NaN,NaN,may,february
1046318,2017-05-31 23:47:19,2017-06-01 00:02:12,893,Broadway & Cornelia Ave,Broadway & Belmont Ave,Subscriber,Male,1988.0,may,february
1046319,2017-05-31 23:47:52,2017-05-31 23:57:33,581,Wabash Ave & Grand Ave,Federal St & Polk St,Subscriber,Male,1992.0,may,february
1046320,2017-05-31 23:48:16,2017-06-01 00:13:52,1536,LaSalle St & Washington St,Stockton Dr & Wrightwood Ave,Subscriber,Female,1980.0,may,february
1046321,2017-05-31 23:48:40,2017-05-31 23:56:53,493,Clark St & Chicago Ave,Ogden Ave & Chicago Ave,Subscriber,Male,1997.0,may,february
1046322,2017-05-31 23:49:02,2017-06-01 00:47:49,3527,Buckingham Fountain,Buckingham Fountain,Customer,NaN,NaN,may,february
1046323,2017-05-31 23:49:07,2017-05-31 23:51:18,131,Clinton St & Madison St,Clinton St & Lake St,Subscriber,Male,1981.0,may,february
1046324,2017-05-31 23:49:43,2017-06-01 00:01:03,680,Green St & Randolph St,Buckingham Fountain,Customer,NaN,NaN,may,february
1046325,2017-05-31 23:50:41,2017-05-31 23:54:20,219,Lincoln Ave & Leavitt St,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,1984.0,may,february
1046326,2017-05-31 23:51:12,2017-05-31 23:54:30,198,LaSalle St & Jackson Blvd,Canal St & Adams St,Subscriber,Male,1980.0,may,february
1046327,2017-05-31 23:52:00,2017-06-01 00:04:10,730,LaSalle St & Jackson Blvd,State St & 19th St,Subscriber,Male,1984.0,may,february
1046328,2017-05-31 23:54:45,2017-06-01 00:03:56,551,State St & Van Buren St,Wabash Ave & 16th St,Subscriber,Male,1982.0,may,february
1046329,2017-05-31 23:54:51,2017-05-31 23:59:44,293,Halsted St & Roscoe St,Broadway & Belmont Ave,Subscriber,Male,1983.0,may,february
1046330,2017-05-31 23:55:07,2017-06-01 00:00:56,349,University Library (NU),Sheridan Rd & Noyes St (NU),Subscriber,Female,1997.0,may,february
1046331,2017-05-31 23:55:34,2017-06-01 00:25:37,1803,Keystone Ave & Montrose Ave,Elston Ave & Wabansia Ave,Subscriber,Male,1971.0,may,february
1046332,2017-05-31 23:55:36,2017-05-31 23:57:25,109,Bissell St & Armitage Ave,Sheffield Ave & Webster Ave,Subscriber,Male,1991.0,may,february
1046333,2017-05-31 23:56:02,2017-06-01 00:07:52,710,Dayton St & North Ave,Sheffield Ave & Fullerton Ave,Customer,NaN,NaN,may,february
1046334,2017-05-31 23:56:02,2017-06-01 00:08:42,760,Cityfront Plaza Dr & Pioneer Ct,Wabash Ave & Roosevelt Rd,Subscriber,Male,1986.0,may,february
1046335,2017-05-31 23:56:07,2017-06-01 00:07:52,705,Dayton St & North Ave,Sheffield Ave & Fullerton Ave,Customer,NaN,NaN,may,february
1046336,2017-05-31 23:57:02,2017-06-01 00:12:11,909,Logan Blvd & Elston Ave,California Ave & Francis Pl,Subscriber,Male,1979.0,may,february
1046337,2017-05-31 23:57:20,2017-06-01 00:06:41,561,Kingsbury St & Erie St,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1970.0,may,february
1046338,2017-05-31 23:57:50,2017-06-01 00:05:23,453,LaSalle St & Illinois St,Michigan Ave & Washington St,Subscriber,Female,1991.0,may,february
1046339,2017-05-31 23:58:39,2017-06-01 00:03:42,303,Halsted St & Wrightwood Ave,Southport Ave & Wellington Ave,Subscriber,Male,1991.0,may,february
1046340,2017-05-31 23:59:02,2017-06-01 00:18:37,1175,Fort Dearborn Dr & 31st St,Cottage Grove Ave & Oakwood Blvd,Customer,NaN,NaN,may,february

In [46]:
df1.filter(df1.month['march'])

IndexError: march

In [7]:
df['day_of_week'] = df['Start Time'].dt.dayofweek
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,1,6
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,1,6
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,1,6
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,1,6
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,1,6
5,2017-01-01 00:10:44,2017-01-01 00:21:27,643,State St & Kinzie St,Wells St & Polk St,Subscriber,Male,1970.0,1,6
6,2017-01-01 00:11:34,2017-01-01 00:23:47,733,Wabash Ave & Wacker Pl,Clinton St & Tilden St,Subscriber,Male,1986.0,1,6
7,2017-01-01 00:14:57,2017-01-01 00:26:22,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,1,6
8,2017-01-01 00:15:03,2017-01-01 00:26:28,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,1,6
9,2017-01-01 00:17:01,2017-01-01 00:29:49,768,Dayton St & North Ave,Ogden Ave & Chicago Ave,Customer,NaN,NaN,1,6
10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0,1,6
11,2017-01-01 00:18:28,2017-01-01 00:31:05,757,Canal St & Madison St,LaSalle St & Illinois St,Customer,NaN,NaN,1,6
12,2017-01-01 00:18:50,2017-01-01 00:21:47,177,Theater on the Lake,Lakeview Ave & Fullerton Pkwy,Subscriber,Male,1991.0,1,6
13,2017-01-01 00:23:41,2017-01-01 00:29:13,332,Halsted St & Maxwell St,Halsted St & 18th St,Subscriber,Male,1984.0,1,6
14,2017-01-01 00:25:47,2017-01-01 00:39:53,846,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Female,1987.0,1,6
15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0,1,6
16,2017-01-01 00:26:21,2017-01-01 00:39:40,799,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Male,1987.0,1,6
17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0,1,6
18,2017-01-01 00:27:28,2017-01-01 00:42:44,916,Millennium Park,Michigan Ave & 18th St,Subscriber,Female,1990.0,1,6
19,2017-01-01 00:27:45,2017-01-01 00:31:13,208,Damen Ave & Chicago Ave,Damen Ave & Division St,Subscriber,Male,1982.0,1,6
20,2017-01-01 00:27:52,2017-01-01 00:33:46,354,Paulina Ave & North Ave,Damen Ave & Division St,Subscriber,Female,1982.0,1,6
21,2017-01-01 00:30:07,2017-01-01 00:34:32,265,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Customer,NaN,NaN,1,6
22,2017-01-01 00:30:10,2017-01-01 01:10:34,2424,Lake Shore Dr & Ohio St,Broadway & Barry Ave,Subscriber,Female,1985.0,1,6
23,2017-01-01 00:32:58,2017-01-01 00:41:59,541,LaSalle St & Illinois St,State St & Kinzie St,Customer,NaN,NaN,1,6
24,2017-01-01 00:33:39,2017-01-01 00:41:09,450,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,Subscriber,Female,1979.0,1,6
25,2017-01-01 00:34:23,2017-01-01 00:40:56,393,Greenview Ave & Jarvis Ave,Eastlake Ter & Rogers Ave,Subscriber,Male,1961.0,1,6
26,2017-01-01 00:35:23,2017-01-01 01:05:22,1799,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,1,6
27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0,1,6
28,2017-01-01 00:35:32,2017-01-01 00:48:07,755,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Female,1989.0,1,6
29,2017-01-01 00:35:34,2017-01-01 01:05:26,1792,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,1,6
...,...,...,...,...,...,...,...,...,...,...
1551475,2017-06-30 23:52:33,2017-07-01 00:08:19,946,Lincoln Ave & Fullerton Ave,Sheffield Ave & Waveland Ave,Subscriber,Female,1993.0,6,4
1551476,2017-06-30 23:52:40,2017-07-01 00:22:13,1773,Cuyler Ave & Augusta St,Central Park Ave & North Ave,Customer,NaN,NaN,6,4
1551477,2017-06-30 23:52:40,2017-07-01 00:13:41,1261,Halsted St & Roscoe St,Milwaukee Ave & Grand Ave,Subscriber,Male,1970.0,6,4
1551478,2017-06-30 23:52:43,2017-07-01 00:05:44,781,Halsted St & Roscoe St,Halsted St & Willow St,Subscriber,Male,1981.0,6,4
1551479,2017-06-30 23:52:54,2017-07-01 00:22:33,1779,Cuyler Ave & Augusta St,Central Park Ave & North Ave,Customer,NaN,NaN,6,4
1551480,2017-06-30 23:53:05,2017-07-01 00:12:52,1187,Ellis Ave & 55th St,Cottage Grove Ave & 47th St,Subscriber,Male,1987.0,6,4
1551481,2017-06-30 23:53:15,2017-07-01 00:04:46,691,Clark St & Wrightwood Ave,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1991.0,6,4
1551482,2017-06-30 23:53:16,2017-07-01 00:02:53,577,Wells St & Concord Ln,Theater on the Lake,Subscriber,Male,1986.0,6,4
1551483,2017-06-30 23:52:56,2017-07-01 00:04:04,668,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0,6,4
1551484,2017-06-30 23:52:56,2017-07-01 00:03:48,652,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1991.0,6,4
1551485,2017-06-30 23:54:02,2017-07-01 00:17:47,1425,Halsted St & Dickens Ave,Pine Grove Ave & Irving Park Rd,Subscriber,Male,1953.0,6,4
1551486,2017-06-30 23:54:12,2017-07-01 00:02:08,476,Eckhart Park,Damen Ave & Division St,Subscriber,Male,1992.0,6,4
1551487,2017-06-30 23:54:36,2017-07-01 00:18:03,1407,Franklin St & Monroe St,Clinton St & Roosevelt Rd,Subscriber,Male,1984.0,6,4
1551488,2017-06-30 23:55:06,2017-06-30 23:58:54,228,Clifton Ave & Lawrence Ave,Clarendon Ave & Leland Ave,Subscriber,Male,1963.0,6,4
1551489,2017-06-30 23:55:13,2017-07-01 00:19:27,1454,Halsted St & Willow St,Wood St & Milwaukee Ave,Subscriber,Male,1990.0,6,4
1551490,2017-06-30 23:55:18,2017-07-01 00:12:25,1027,Halsted St & Roscoe St,Bissell St & Armitage Ave,Subscriber,Male,1991.0,6,4
1551491,2017-06-30 23:55:33,2017-06-30 23:59:50,257,Sedgwick St & North Ave,Clark St & Armitage Ave,Subscriber,Male,1969.0,6,4
1551492,2017-06-30 23:55:48,2017-07-01 00:16:04,1216,Cityfront Plaza Dr & Pioneer Ct,Ashland Ave & Augusta Blvd,Subscriber,Female,1986.0,6,4
1551493,2017-06-30 23:55:57,2017-07-01 00:09:16,799,Wabash Ave & 16th St,900 W Harrison St,Subscriber,Male,1985.0,6,4
1551494,2017-06-30 23:55:58,2017-07-01 01:17:24,4886,Dusable Harbor,Streeter Dr & Grand Ave,Customer,NaN,NaN,6,4
1551495,2017-06-30 23:56:20,2017-07-01 01:16:50,4830,Dusable Harbor,Streeter Dr & Grand Ave,Customer,NaN,NaN,6,4
1551496,2017-06-30 23:56:48,2017-07-01 00:00:07,199,Hermitage Ave & Polk St,Loomis St & Lexington St,Subscriber,Male,1988.0,6,4
1551497,2017-06-30 23:58:13,2017-07-01 00:24:22,1569,Southport Ave & Clybourn Ave,Spaulding Ave & Armitage Ave,Subscriber,Female,1989.0,6,4
1551498,2017-06-30 23:58:19,2017-07-01 00:03:41,322,Lakeview Ave & Fullerton Pkwy,Lincoln Ave & Fullerton Ave,Subscriber,Male,1992.0,6,4
1551499,2017-06-30 23:58:21,2017-07-01 00:04:24,363,Lakeview Ave & Fullerton Pkwy,Lake Shore Dr & Wellington Ave,Subscriber,Male,1990.0,6,4
1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0,6,4
1551501,2017-06-30 23:59:14,2017-07-01 00:06:21,427,Canal St & Adams St,LaSalle St & Adams St,Subscriber,Male,1980.0,6,4
1551502,2017-06-30 23:59:18,2017-07-01 00:04:58,340,Sheffield Ave & Webster Ave,Sheffield Ave & Webster Ave,Subscriber,Female,1996.0,6,4
1551503,2017-06-30 23:59:28,2017-07-01 00:07:10,462,Clark St & Grace St,Clark St & Montrose Ave,Subscriber,Female,1968.0,6,4
1551504,2017-06-30 23:59:51,2017-07-01 00:13:57,846,Desplaines St & Jackson Blvd,Desplaines St & Kinzie St,Subscriber,Male,1975.0,6,4

In [60]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,1,6
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,1,6
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,1,6
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,1,6
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,1,6

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551505 entries, 0 to 1551504
Data columns (total 10 columns):
Start Time       1551505 non-null datetime64[ns]
End Time         1551505 non-null object
Trip Duration    1551505 non-null int64
Start Station    1551505 non-null object
End Station      1551505 non-null object
User Type        1551505 non-null object
Gender           1234638 non-null object
Birth Year       1234822 non-null float64
month            1551505 non-null object
day_of_week      1551505 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 118.4+ MB

In [54]:
df1.mask('month', 'may')

TypeError: bad operand type for unary ~: 'str'

In [20]:
def get_names(time_period, get_city):
    
    
    if time_period == "month":
        
            month = input('\nWhich month? January, February, March, April, May, or June?\n').lower()
            # TODO: handle raw input and complete function
            if month == "january" or month == "february" or month == "march" or month == "april" or month == "may" or month == "june":
                print("Month selected :{}".format(month.title()))
                df = pd. read_csv(get_city)
                df['Start Time'] = pd.to_datetime(df['Start Time'])
                df['month'] = df['Start Time'].dt.month
                df.applymap(lambda s: mapping.get(s) if s in mapping else s)
    return(df)

            else:
                print("{} is Invalied entry, Kindly re-enter".format(month.title()))
                month = input('\nWhich month? January, February, March, April, May, or June?\n').lower()
            
            
                
    elif time_period == "day":
            month = input('\nWhich day? Sunday, Monday, Tuesday, Wednesday, Thursday, Friday or saturday?\n').lower()

            if month == "sunday" or month == "monday" or month == "tuesday" or month == "wednesday" or month == "thursday" or month == "friday" or month == "saturday" : 
                print("Month selected :{}".format(month.title()))
                df = pd. read_csv(get_city)
                df['Start Time'] = pd.to_datetime(df['Start Time'])
                df['month'] = df['Start Time'].dt.daysofweek
                df.applymap(lambda s: mapping.get(s) if s in mapping else s)
    return(df)
            
            else:
                print("{} is Invalied entry, Kindly re-enter".format(month.title()))
                month = input('\nWhich day? Sunday, Monday, Tuesday, Wednesday, Thursday, Friday or saturday?\n').lower()


                
    elif time_period == "none":
            df = pd.read_csv(get_city)
    return(df)

In [59]:
df2 = get_names(month, nyu)

NameError: name 'month' is not defined

In [34]:
print(df2)

None

In [3]:
chicago = 'chicago.csv'
nyu = 'new_york_city.csv'
washington = 'washington.csv'

In [27]:
def get_time_period():
    '''Asks the user for a time period and returns the specified filter.

    Args:
        none.
    Returns: time_period
    '''
    time_period = input('\nWould you like to filter the data by month, day, or none at'
                        ' all? Type "none" for no time filter.\n')

    if time_period.lower() == "month" or time_period.lower() == "day" or time_period.lower() == "none":
        print("Time Period selected :{}".format(time_period.title()))
        
    else:
        print("{} is Invalied entry, Kindly re-enter".format(time_period.title()))
        get_time_period()
        
    return(time_period)

In [28]:
get_time_period()

Would you like to filter the data by month, day, or none at all? Type "none" for no time filter.
month
Time Period selected :Month

'month'

In [4]:
gtt= 'month'
gt='chicago.csv'

In [49]:
def get_names(gtp,gc):
    
    
    if gtp == "month":
        
            month = input('\nWhich month? January, February, March, April, May, or June?\n').lower()
            # TODO: handle raw input and complete function
            if month == "january" or month == "february" or month == "march" or month == "april" or month == "may" or month == "june":
                print("Month selected :{}".format(month.title()))
                df = pd. read_csv(gc)
                df['Start Time'] = pd.to_datetime(df['Start Time'])
                df['months'] = df['Start Time'].dt.month
                mapping = {1:'january', 2:'february', 3:'march', 4:'april', 5:'may', 6:'june'}
                df = df.applymap(lambda s: mapping.get(s) if s in mapping else s)
#                 df.query('months == 'month'')
                df = df.loc[df['months'] == month]
#                 df.loc[df['months'].isin(month)]
#                 df = df.set_index(['months'])
#                 df.loc[month']


                return(df)

            else:
                print("{} is Invalied entry, Kindly re-enter".format(month.title()))
                month = input('\nWhich month? January, February, March, April, May, or June?\n').lower()
            
            
                
    elif gtp == "day":
            month = input('\nWhich day? Sunday, Monday, Tuesday, Wednesday, Thursday, Friday or saturday?\n').lower()

            if month == "sunday" or month == "monday" or month == "tuesday" or month == "wednesday" or month == "thursday" or month == "friday" or month == "saturday" : 
                print("Month selected :{}".format(month.title()))
                df = pd. read_csv(gc)
                df['Start Time'] = pd.to_datetime(df['Start Time'])
                df['days_of_week'] = df['Start Time'].dt.dayofweek
                mapping = {0:'monday', 1:'tuesday', 2:'wednesday', 3:'thursday', 4:'friday', 5:'saturday', 6:'sunday'}
                df = df.applymap(lambda s: mapping.get(s) if s in mapping else s)
                df = df.loc [df['days_of_week'] == 'month']
                return(df)
            
            else:
                print("{} is Invalied entry, Kindly re-enter".format(month.title()))
                month = input('\nWhich day? Sunday, Monday, Tuesday, Wednesday, Thursday, Friday or saturday?\n').lower()


                
    elif gtp == "none":
            df = pd.read_csv(gc)
            return(df)

In [16]:
df_fil = get_names(gtt,gt)

Which month? January, February, March, April, May, or June?
may
Month selected :May

In [17]:
df_fil.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,months
700353,2017-05-01 00:02:39,2017-05-01 00:24:26,1307,Wilton Ave & Diversey Pkwy,Drake Ave & Addison St,Subscriber,Male,1980.0,may
700354,2017-05-01 00:02:58,2017-05-01 00:07:13,255,900 W Harrison St,May St & Taylor St,Subscriber,Male,1997.0,may
700355,2017-05-01 00:21:16,2017-05-01 00:32:49,693,Canal St & Taylor St,Paulina St & 18th St,Subscriber,Female,1982.0,may
700356,2017-05-01 00:25:25,2017-05-01 00:32:34,429,Wabash Ave & 16th St,Clinton St & 18th St,Subscriber,Male,1972.0,may
700357,2017-05-01 00:27:26,2017-05-01 00:44:21,1015,Broadway & Argyle St,Campbell Ave & Montrose Ave,Subscriber,Male,1986.0,may

In [12]:
def popular_hour(get_city):
    df = pd. read_csv(get_city)
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['hours'] = df['Start Time'].dt.hour

    return(df['hours'].mode()[0])

In [13]:
popular_hour(gt)

17

In [22]:
def popular_hour(df):
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['hours'] = df['Start Time'].dt.hour
    df['hours'] = df['hours'] +1
    print(df)
    return(df['hours'].mode()[0])

In [23]:
popular_hour(df_fil)

                 Start Time             End Time  Trip Duration  \
700353  2017-05-01 00:02:39  2017-05-01 00:24:26           1307
700354  2017-05-01 00:02:58  2017-05-01 00:07:13            255
700355  2017-05-01 00:21:16  2017-05-01 00:32:49            693
700356  2017-05-01 00:25:25  2017-05-01 00:32:34            429
700357  2017-05-01 00:27:26  2017-05-01 00:44:21           1015
700358  2017-05-01 00:40:31  2017-05-01 00:49:56            565
700359  2017-05-01 00:41:07  2017-05-01 00:49:49            522
700360  2017-05-01 00:50:28  2017-05-01 00:56:12            344
700361  2017-05-01 00:50:36  2017-05-01 00:56:49            373
700362  2017-05-01 01:39:47  2017-05-01 01:43:08            201
700363  2017-05-01 01:41:00  2017-05-01 01:46:17            317
700364  2017-05-01 01:43:16  2017-05-01 01:49:35            379
700365  2017-05-01 01:51:43  2017-05-01 01:53:33            110
700366  2017-05-01 01:52:13  2017-05-01 02:17:38           1525
700367  2017-05-01 02:11:44  2017-05-01 02:21:58            614
700368  2017-05-01 02:26:27  2017-05-01 02:29:56            209
700369  2017-05-01 02:27:37  2017-05-01 02:38:21            644
700370  2017-05-01 02:29:12  2017-05-01 02:48:56           1184
700371  2017-05-01 02:38:50  2017-05-01 02:43:44            294
700372  2017-05-01 02:46:35  2017-05-01 02:51:39            304
700373  2017-05-01 02:48:24  2017-05-01 02:54:33            369
700374  2017-05-01 02:52:36  2017-05-01 03:03:26            650
700375  2017-05-01 02:54:18  2017-05-01 03:03:33            555
700376  2017-05-01 03:01:14  2017-05-01 03:15:15            841
700377  2017-05-01 03:13:32  2017-05-01 03:20:32            420
700378  2017-05-01 03:26:12  2017-05-01 03:52:09           1557
700379  2017-05-01 03:28:15  2017-05-01 03:34:35            380
700380  2017-05-01 03:28:37  2017-05-01 04:03:19           2082
700381  2017-05-01 04:09:38  2017-05-01 04:11:53            135
700382  2017-05-01 04:11:37  2017-05-01 04:22:18            641
...                     ...                  ...            ...
1046311 2017-05-31 23:44:25  2017-06-01 00:48:45           3860
1046312 2017-05-31 23:45:47  2017-06-01 00:08:01           1334
1046313 2017-05-31 23:46:00  2017-05-31 23:57:01            661
1046314 2017-05-31 23:46:04  2017-05-31 23:58:35            751
1046315 2017-05-31 23:46:04  2017-05-31 23:52:02            358
1046316 2017-05-31 23:46:09  2017-06-01 00:48:01           3712
1046317 2017-05-31 23:46:31  2017-06-01 00:48:01           3690
1046318 2017-05-31 23:47:19  2017-06-01 00:02:12            893
1046319 2017-05-31 23:47:52  2017-05-31 23:57:33            581
1046320 2017-05-31 23:48:16  2017-06-01 00:13:52           1536
1046321 2017-05-31 23:48:40  2017-05-31 23:56:53            493
1046322 2017-05-31 23:49:02  2017-06-01 00:47:49           3527
1046323 2017-05-31 23:49:07  2017-05-31 23:51:18            131
1046324 2017-05-31 23:49:43  2017-06-01 00:01:03            680
1046325 2017-05-31 23:50:41  2017-05-31 23:54:20            219
1046326 2017-05-31 23:51:12  2017-05-31 23:54:30            198
1046327 2017-05-31 23:52:00  2017-06-01 00:04:10            730
1046328 2017-05-31 23:54:45  2017-06-01 00:03:56            551
1046329 2017-05-31 23:54:51  2017-05-31 23:59:44            293
1046330 2017-05-31 23:55:07  2017-06-01 00:00:56            349
1046331 2017-05-31 23:55:34  2017-06-01 00:25:37           1803
1046332 2017-05-31 23:55:36  2017-05-31 23:57:25            109
1046333 2017-05-31 23:56:02  2017-06-01 00:07:52            710
1046334 2017-05-31 23:56:02  2017-06-01 00:08:42            760
1046335 2017-05-31 23:56:07  2017-06-01 00:07:52            705
1046336 2017-05-31 23:57:02  2017-06-01 00:12:11            909
1046337 2017-05-31 23:57:20  2017-06-01 00:06:41            561
1046338 2017-05-31 23:57:50  2017-06-01 00:05:23            453
1046339 2017-05-31 23:58:39  2017-06-01 00:03:42            303
1046340 2017-05-31 23:59:02  2017-06-01 00:18:37           1175

                           Start Station                          End Station  \
700353        Wilton Ave & Diversey Pkwy               Drake Ave & Addison St
700354                 900 W Harrison St                   May St & Taylor St
700355              Canal St & Taylor St                 Paulina St & 18th St
700356              Wabash Ave & 16th St                 Clinton St & 18th St
700357              Broadway & Argyle St          Campbell Ave & Montrose Ave
700358                State St & 33rd St                  MLK Jr Dr & 29th St
700359                State St & 33rd St                  MLK Jr Dr & 29th St
700360            Damen Ave & Pierce Ave           Ashland Ave & Blackhawk St
700361            Damen Ave & Pierce Ave           Ashland Ave & Blackhawk St
700362            State St & Randolph St         Stetson Ave & South Water St
700363              State St & Kinzie St                   Rush St & Cedar St
700364           Damen Ave & Division St              Western Ave & Walton St
700365     Sheffield Ave & Fullerton Ave       Sheffield Ave & Wrightwood Ave
700366           Lake Park Ave & 47th St                   Shore Dr & 55th St
700367           Halsted St & Maxwell St             Peoria St & Jackson Blvd
700368           University Library (NU)            Chicago Ave & Sheridan Rd
700369                Shore Dr & 55th St              Lake Park Ave & 47th St
700370          Lincoln Ave & Addison St             Clark St & Bryn Mawr Ave
700371           Lake Park Ave & 47th St              Greenwood Ave & 47th St
700372             Broadway & Berwyn Ave                Clark St & Berwyn Ave
700373               Morgan St & Polk St             Jefferson St & Monroe St
700374            St. Clair St & Erie St            Larrabee St & Division St
700375            St. Clair St & Erie St            Larrabee St & Division St
700376          Clark St & Bryn Mawr Ave           Greenview Ave & Jarvis Ave
700377             Green St & Madison St                   Daley Center Plaza
700378    Lake Shore Dr & Wellington Ave            Wacker Dr & Washington St
700379               Wabash Ave & 8th St               Canal St & Harrison St
700380       Keystone Ave & Montrose Ave            Claremont Ave & Hirsch St
700381           Dearborn St & Monroe St            LaSalle St & Jackson Blvd
700382          McClurg Ct & Illinois St            LaSalle St & Jackson Blvd
...                                  ...                                  ...
1046311              Buckingham Fountain                  Buckingham Fountain
1046312            Dearborn St & Erie St                 Broadway & Barry Ave
1046313            Canal St & Madison St               Kingsbury St & Erie St
1046314            Dearborn St & Erie St              Clinton St & Madison St
1046315      Halsted St & Wrightwood Ave        Greenview Ave & Diversey Pkwy
1046316              Buckingham Fountain                  Buckingham Fountain
1046317              Buckingham Fountain                  Buckingham Fountain
1046318          Broadway & Cornelia Ave               Broadway & Belmont Ave
1046319           Wabash Ave & Grand Ave                 Federal St & Polk St
1046320       LaSalle St & Washington St         Stockton Dr & Wrightwood Ave
1046321           Clark St & Chicago Ave              Ogden Ave & Chicago Ave
1046322              Buckingham Fountain                  Buckingham Fountain
1046323          Clinton St & Madison St                 Clinton St & Lake St
1046324           Green St & Randolph St                  Buckingham Fountain
1046325         Lincoln Ave & Leavitt St       Lincoln Ave & Belle Plaine Ave
1046326        LaSalle St & Jackson Blvd                  Canal St & Adams St
1046327        LaSalle St & Jackson Blvd                   State St & 19th St
1046328          State St & Van Buren St                 Wabash Ave & 16th St
1046329           Halsted St & Roscoe St               Broadway & Belmont Ave
1046330          University Library (NU)          Sheridan Rd & Noyes St (NU)
1046331      Keystone Ave & Montrose Ave            Elston Ave & Wabansia Ave
1046332        Bissell St & Armitage Ave          Sheffield Ave & Webster Ave
1046333            Dayton St & North Ave        Sheffield Ave & Fullerton Ave
1046334  Cityfront Plaza Dr & Pioneer Ct            Wabash Ave & Roosevelt Rd
1046335            Dayton St & North Ave        Sheffield Ave & Fullerton Ave
1046336          Logan Blvd & Elston Ave          California Ave & Francis Pl
1046337           Kingsbury St & Erie St  Mies van der Rohe Way & Chicago Ave
1046338         LaSalle St & Illinois St         Michigan Ave & Washington St
1046339      Halsted St & Wrightwood Ave       Southport Ave & Wellington Ave
1046340       Fort Dearborn Dr & 31st St     Cottage Grove Ave & Oakwood Blvd

          User Type  Gender  Birth Year months  hours
700353   Subscriber    Male      1980.0    may      1
700354   Subscriber    Male      1997.0    may      1
700355   Subscriber  Female      1982.0    may      1
700356   Subscriber    Male      1972.0    may      1
700357   Subscriber    Male      1986.0    may      1
700358   Subscriber    Male      1993.0    may      1
700359   Subscriber  Female      1992.0    may      1
700360   Subscriber    Male      1990.0    may      1
700361   Subscriber    Male      1990.0    may      1
700362   Subscriber    Male      1954.0    may      2
700363   Subscriber    Male      1986.0    may      2
700364   Subscriber    Male      1987.0    may      2
700365   Subscriber    Male      1994.0    may      2
700366   Subscriber    Male      1966.0    may      2
700367   Subscriber    Male      1996.0    may      3
700368   Subscriber    Male      1998.0    may      3
700369   Subscriber    Male      1966.0    may      3
700370   Subscriber    Male      1992.0    may      3
700371   Subscriber    Male      1966.0    may      3
700372   Subscriber    Male      1977.0    may      3
700373   Subscriber    Male      1997.0    may      3
700374   Subscriber    Male      1990.0    may      3
700375   Subscriber    Male      1987.0    may      3
700376   Subscriber    Male      1992.0    may      4
700377   Subscriber    Male      1968.0    may      4
700378   Subscriber    Male      1993.0    may      4
700379   Subscriber    Male      1940.0    may      4
700380   Subscriber    Male      1979.0    may      4
700381   Subscriber    Male      1957.0    may      5
700382   Subscriber    Male      1971.0    may      5
...             ...     ...         ...    ...    ...
1046311    Customer     NaN         NaN    may     24
1046312  Subscriber    Male      1984.0    may     24
1046313  Subscriber    Male      1970.0    may     24
1046314  Subscriber  Female      1992.0    may     24
1046315  Subscriber    Male      1990.0    may     24
1046316    Customer     NaN         NaN    may     24
1046317    Customer     NaN         NaN    may     24
1046318  Subscriber    Male      1988.0    may     24
1046319  Subscriber    Male      1992.0    may     24
1046320  Subscriber  Female      1980.0    may     24
1046321  Subscriber    Male      1997.0    may     24
1046322    Customer     NaN         NaN    may     24
1046323  Subscriber    Male      1981.0    may     24
1046324    Customer     NaN         NaN    may     24
1046325  Subscriber    Male      1984.0    may     24
1046326  Subscriber    Male      1980.0    may     24
1046327  Subscriber    Male      1984.0    may     24
1046328  Subscriber    Male      1982.0    may     24
1046329  Subscriber    Male      1983.0    may     24
1046330  Subscriber  Female      1997.0    may     24
1046331  Subscriber    Male      1971.0    may     24
1046332  Subscriber    Male      1991.0    may     24
1046333    Customer     NaN         NaN    may     24
1046334  Subscriber    Male      1986.0    may     24
1046335    Customer     NaN         NaN    may     24
1046336  Subscriber    Male      1979.0    may     24
1046337  Subscriber    Male      1970.0    may     24
1046338  Subscriber  Female      1991.0    may     24
1046339  Subscriber    Male      1991.0    may     24
1046340    Customer     NaN         NaN    may     24

[345988 rows x 10 columns]

18

In [28]:
def trip_duration(df):
    '''
    Question: What is the total trip duration and average trip duration?
    time in seconds .filtered dataset.
    '''
    print('Total trip duration {} and average trip duaration {}'.format( df['Trip Duration'].sum(), df['Trip Duration'].mean()))

In [29]:
trip_duration(df_fil)

Total trip duration 341427604 and average trip duaration 986.8192076025758

In [35]:
def popular_stations(df):
    '''
    Question: What is the most popular start station and most popular end station?
    '''
    print('Popular start station is {} and popular end station is {}'.format(df['Start Station'].mode()[0], df['End Station'].mode()[0]))

In [55]:
popular_stations(df_fil)

IndexError: index out of bounds

In [73]:
gtt= 'day'
gt='chicago.csv'
df_fil = get_names(gtt,gt)

Which day? Sunday, Monday, Tuesday, Wednesday, Thursday, Friday or saturday?
monday
Month selected :Monday

In [69]:
df_fil['pop_sta'] = df_fil.Gender.str.cat(df_fil.months)

AttributeError: 'DataFrame' object has no attribute 'months'

In [66]:
def popular_trip(df):
    '''
    Question: What is the most popular trip?
    '''
#     df['Period'] = df.Year.str.cat(df.Quarter)
    df['pop_sta'] = df.'Start Station'.str.cat(df.'End Station')
    df['pop_sta'].mode()[0]

SyntaxError: invalid syntax (<ipython-input-66-43ab0486a97c>, line 6)

[here](https://stackoverflow.com/questions/19377969/combine-two-columns-of-text-in-dataframe-in-pandas-python)

In [64]:
popular_trip(df_fil)

IndexError: index out of bounds

In [1]:
import pandas as pd

df = pd.read_csv('chicago.csv')

In [ ]:
def users(df):
    '''
    Question: What are the counts of each user type?
    '''
    
    counts = df['User Type'].value_counts().to_dict()
    print counts

In [ ]:
users(df)

In [ ]:
df.head()