# Project : Explore US Bikeshare Data

## Index
[1. Introduction](#intro) <br>
[2. Code](#code)<br>

<a id='intro' > </a>

### 1. Introduction

>In this project, the data provided by [Motivate](https://www.motivateco.com/) is taken as raw input and analysed to answer basic questions. Data from three cities, Chicago, NYU and Washington is used. Null values observed in Gender, Birth date column of Chicago and NYU. The analysis is predominantely done using python list and dict, to understand data structure better. The code is simplified and list comprehensions, dict comprehensions are avoided for simplicity purpose.

>#### Questions to be answered
1. What is the most popular month for start time?
2. What is the most popular day of week (Monday, Tuesday, etc.) for start time? 
3. What is the most popular hour of day for start time?
4. What is the total trip duration and average trip duration?
5. What is the most popular start station and most popular end station?
6. What is the most popular trip?
7. What are the counts of each user type?
8. What are the counts of gender?
9. What are the earliest (i.e. oldest person), most recent (i.e. youngest person), and most popular birth years?

>#### Familiarizing with the dataset

In [3]:
import pandas as pd
df3 = pd.read_csv('washington.csv')
df3.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,2017-01-01 00:00:00,2017-01-01 00:04:00,221.834,3rd & Tingey St SE,M St & New Jersey Ave SE,Subscriber
1,2017-01-01 00:06:00,2017-01-01 00:34:00,1676.854,Lincoln Memorial,8th & D St NW,Customer
2,2017-01-01 00:07:00,2017-01-01 00:34:00,1636.768,Lincoln Memorial,8th & D St NW,Customer
3,2017-01-01 00:07:00,2017-01-01 00:29:00,1327.901,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer
4,2017-01-01 00:07:00,2017-01-01 00:29:00,1356.956,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer

In [6]:
df2 = pd.read_csv('new_york_city.csv')
df2.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:21,2017-01-01 00:11:41,680,W 82 St & Central Park West,Central Park West & W 72 St,Subscriber,Female,1965.0
1,2017-01-01 00:00:45,2017-01-01 00:22:08,1282,Cooper Square & E 7 St,Broadway & W 32 St,Subscriber,Female,1987.0
2,2017-01-01 00:00:57,2017-01-01 00:11:46,648,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
3,2017-01-01 00:01:10,2017-01-01 00:11:42,631,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
4,2017-01-01 00:01:25,2017-01-01 00:11:47,621,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN

In [5]:
df1 = pd.read_csv('chicago.csv')
df1.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [7]:
print ('The shape of dataset Chicago, NYU, Washington is {}, {}, {} respectively'.format( df1.shape, df2.shape, df3.shape))

The shape of dataset Chicago, NYU, Washington is (1551505, 8), (6816254, 8), (1751452, 6) respectively

<a id='code' > </a>
### 2. Code